#color{
	margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: yellow;
    padding: 5%;
    background: url(http://www.planwallpaper.com/static/images/recycled_texture_background_by_sandeep_m-d6aeau9_PZ9chud.jpg);
    background-size:80%;
}
html, body{
	width: 100%;
	height: 100%;
	text-align: center;
	color: white;
	background-color: black;
    font-family: Georgia;

}
#search{
	
	width: 21%;
	margin-left: 40%
}
input[type=submit] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}